.swiper-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.swiper-slide {
    transition: transform 0.5s ease-in-out;  /* Smooth sliding transition */
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
}

div.scrollsnap-carousel::-webkit-scrollbar {height: 10px;}
div.scrollsnap-carousel::-webkit-scrollbar-track {background: #333;}
div.scrollsnap-carousel::-webkit-scrollbar-thumb {background: var(--primary)}
div.scrollsnap-carousel::-webkit-scrollbar-thumb:hover {background: var(--secondary);}
body { --primary: #E50914; --secondary: #FF5A4A; margin: 0px; background-color: black; color: white}
* {font-family: 'Roboto', sans-serif; box-sizing: border-box;}
button {  
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: none;
    margin: 5px;
    color: var(--primary);
    background: #0f0f0f;
    border: 2px solid var(--primary);
    height: 28px;
    font-size: 12px;
    border-radius: 8px;
    text-transform: uppercase;
    cursor: pointer;
    transition: ease-in 0.2s all;
    padding: 0 10px;
}
button:hover {background: var(--primary); color: white;}
div#main {padding: 10px; max-width: 1500px; margin: 0 auto; }
input, textarea {margin-bottom: 10px; padding: 6px; font-size: 14px; width: 100%; max-width: 300px; }
textarea { max-height: 100px; overflow: auto; } 
h1 {background: var(--primary); color: white; font-weight: 300; text-transform: uppercase; font-size: 20px; margin-top: 0; padding: 15px; text-align: center;}
h2 { margin: 5px 0 5px; font-size: 20px;  color: var(--primary);}
p {text-align: center;}
div.container {margin: 0px; overflow-x: auto; white-space: nowrap;}
div.actions { margin-top: 15px;}
div.movie {display: inline-block; width: 200px; padding: 15px; box-shadow: 0px 0px 15px var(--primary); margin: 10px; background-color: #0f0f0f; border-radius: 8px; text-align: center; transition: transform 0.2s ease; white-space: wrap;}
div.movie#result-movie {display: inline-block; width: 150px;}
div.movie:hover {transform: scale(1.05);}
div.movie div.movie-img {width: 100%; height: 160px; overflow: hidden; border-radius: 8px; margin-bottom: 10px; cursor: pointer; display: flex; align-items: center;}
div.movie div.movie-img img {width: 100%; height: 100%; object-fit: cover; object-fit: contain;}
div.movie div.title {font-size: 16px; color: white; text-align: center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
div.movie div.release-date {text-align: center; color: white; overflow: hidden; text-overflow: ellipsis; width: 100%; white-space: nowrap; letter-spacing: -0.5px; transform: scaleY(1.2);}
div.field {margin-bottom: 10px;}
div.field#field-search {margin-bottom: 15px; color: var(--primary); text-transform: uppercase; font-size: 14px; display: flex; justify-content: left; align-items: center; gap: 5px}
div.field input, div.field textarea { width: 100%; padding: 6px; font-size: 14px; } 
div.field#field-search {margin-top: 0px;}
#search-query {margin-top: 10px;}
.movie-actions button {margin-right: 5px;}
.movie-details {display: flex; align-items: center; justify-content: flex-start; gap:50px; padding: 5px;}
.movie-description {display: flex; align-items: center; justify-content: flex-start;}
.movie-img-show {width: 300px; height: 300px; min-width: 300px; min-height: 300px; overflow: hidden; border-width: 10px; display: flex; align-items: flex-start; justify-content: flex-start;}
.movie-img-show img {width: 500px; height: 300px; overflow: hidden; object-fit: contain; object-position: left;}
#new-overview, #edit-overview {width: 600px; height: 60px}


#spinner {display: flex; justify-content: center; align-items: center; height: auto; margin: 0px 0;}
.spinner {border: 4px solid rgba(255, 255, 255, 0.3); border-top: 4px solid var(--primary); border-radius: 50%; width: 30px; height: 30px; animation: spin 1s linear infinite;}

@keyframes spin {0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); }}
@media screen and (max-width: 768px) { .movie {width: 45%;} .field input {width: 100%; max-width: 100%;} button {font-size: 14px;}}
@media screen and (max-width: 480px) {.movie {width: 90%;}}

/* Define color and size variables for easier customization */
:root {
    --slide-size: 15%;
    --slide-color: lightblue;
    --reflection-color: darken(lightblue, 65%);
    --background-color: black;
    --text-color: navy;
}

.scrollsnap-carousel {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    height: 400px;
    max-width: 100%;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    padding: 100px 0 0 0;
}

.scrollsnap-carousel .slide {
    display: inline-block;
    height: 25%;
    width: 15%;
    flex: 0 0 var(--slide-size);
    scroll-snap-align: center;
    view-timeline-name: --li-in-and-out-of-view;
    view-timeline-axis: inline;
    animation: linear move-to-top 1s both;
    animation-timeline: --li-in-and-out-of-view;
    perspective: 40em;
    position: relative;
    color: var(--text-color);
    transform-origin: bottom;
}

.scrollsnap-carousel .slide:first-of-type {
    margin-left: 50%;
}

.scrollsnap-carousel .slide:last-of-type {
    margin-right: 50%;
}

.scrollsnap-carousel .slide .content {
    border-radius: 10px;
    width: 100%;
    padding-bottom: 100%;
    background: var(--slide-color);
    animation: linear rotateSlide 1s both;
    animation-timeline: --li-in-and-out-of-view;
    position: relative;
}

.scrollsnap-carousel .slide .content .content-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: linear fadeContent 1s both;
    animation-timeline: --li-in-and-out-of-view;
}

.scrollsnap-carousel .slide .content .content-wrapper:after {
    content: '';
    display: block;
    width: 100%;
    height: 50%;
    position: absolute;
    background: linear-gradient(var(--reflection-color), var(--background-color));
    top: 100%;
    left: 0;
    border-radius: 10px 10px 0 0;
}

@keyframes rotateSlide {
    0% {
        transform: translateX(-150%) rotateY(-45deg) translateZ(4em) scale(0.5);
        background: var(--background-color);
    }
    50% {
        transform: rotateY(0deg) translateZ(1em) scale(1.25);
        background: var(--slide-color);
    }
    100% {
        transform: translateX(150%) rotateY(45deg) translateZ(4em) scale(0.65);
        background: var(--background-color);
    }
}

@keyframes fadeContent {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes move-to-top {
    0% {
        z-index: 1;
    }
    50% {
        z-index: 100;
    }
    100% {
        z-index: 1;
    }
}




/* Modal Background */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Modal Content */
.show-modal-content, .results-modal-content {
    background-color: #fff;
    width: 70%;
    max-width: 800px;
    height: 60%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
}

/* Modal Body: Two Columns */
.show-modal-body, .results-modal-body {
    display: flex;
    height: 100%;
}

/* Close Button */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

/* Left Section: Keywords */
.show-modal-left-section, .results-modal-left-section{
    width: 40%;
    background-color: #f4f4f4;
    padding: 20px;
    border-right: 1px solid #ddd;
    overflow-y: auto;
}

.show-modal-left-section h2, .results-modal-left-section h2 {
    margin-bottom: 15px;
    font-size: 20px;
}

.show-modal-left-section ul, .results-modal-left-section ul {
    list-style: none;
    padding: 0;
}

.show-modal-left-section ul li, .results-modal-left-section ul li {
    margin: 10px 0;
    padding: 10px;
    background: #eee;
    border-radius: 5px;
}

.show-modal-left-section ul li, .results-modal-left-section ul .keyword-item {
    margin: 10px 0;
    padding: 10px;
    background: #eee;
    border-radius: 5px;
}

/* Right Section: Movie Details */
.show-modal-right-section, .results-modal-right-section {
    width: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.show-modal-right-section h2, .results-modal-right-section h2 {
    margin-bottom: 15px;
    font-size: 20px;
}

.show-modal-right-section img, .results-modal-right-section img{
    max-width: 100%;
    height: auto;
    margin-top: 15px;
    border-radius: 10px;
}





.scrollsnap-carousel {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    height: 400px;
    max-width: 100%;
    background-color: purple;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    padding: 100px 0 0 0;
}

.scrollsnap-carousel .slide {
    display: inline-block;
    height: 25%;
    width: 15%;
    background-color: green;
    flex: 0 0 var(--slide-size);
    scroll-snap-align: center;
    view-timeline-name: --li-in-and-out-of-view;
    view-timeline-axis: inline;
    animation: linear move-to-top 1s both;
    animation-timeline: --li-in-and-out-of-view;
    perspective: 40em;
    position: relative;
    color: var(--text-color);
    transform-origin: bottom;
}

.scrollsnap-carousel .slide:first-of-type {
    margin-left: 50%;
}

.scrollsnap-carousel .slide:last-of-type {
    margin-right: 50%;
}

.scrollsnap-carousel .slide .content {
    border-radius: 10px;
    width: 100%;
    padding-bottom: 100%;
    background: var(--slide-color);
    animation: linear rotateSlide 1s both;
    animation-timeline: --li-in-and-out-of-view;
    position: relative;
}

.scrollsnap-carousel .slide .content .content-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: linear fadeContent 1s both;
    animation-timeline: --li-in-and-out-of-view;
}

.scrollsnap-carousel .slide .content .content-wrapper:after {
    content: '';
    display: block;
    width: 100%;
    height: 50%;
    position: absolute;
    background: linear-gradient(var(--reflection-color), var(--background-color));
    top: 100%;
    left: 0;
    border-radius: 10px 10px 0 0;
}

@keyframes rotateSlide {
    0% {
        transform: translateX(-150%) rotateY(-45deg) translateZ(4em) scale(0.5);
        background: var(--background-color);
    }
    50% {
        transform: rotateY(0deg) translateZ(1em) scale(1.25);
        background: var(--slide-color);
    }
    100% {
        transform: translateX(150%) rotateY(45deg) translateZ(4em) scale(0.65);
        background: var(--background-color);
    }
}

@keyframes fadeContent {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes move-to-top {
    0% {
        z-index: 1;
    }
    50% {
        z-index: 100;
    }
    100% {
        z-index: 1;
    }
}